body {
	background-image: url('/static/images/stocks-background.png');
}

#parent {
	margin-left: auto;
	margin-right: auto;
	width:50%;
}


input[type=text] {
	clear:both;
	font-size:15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
	position: relative;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    padding: 10px;
    background-color: white;
    text-decoration:none;
    border-style: solid;
    border-color: black;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:65px;
}