html {
	height:100%;
	width:100%;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	color: black;
}

.result-box {
	background-color: gray;
	padding: 10px;
	padding: 10px;
	margin: 20px;
	color: white;
}

.result-box:hover {
	background-color: #b3dbff;
}

.result-box a {
	text-decoration: none;
	color: inherit;
}

.title {
	font-size: 24px;
	font-weight: bold;
}