html {
	height:100%;
	width:100%;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
.result-box {
	background-color: gray;
	padding: 10px;
	padding: 10px;
	margin: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.result-box:hover {
	background-color: #b3dbff;
}

.result-box a {
	text-decoration: none;
	color: inherit;
}